<strong>Olá, {{ deliveryman }}</strong>
<p>O envio de uma encomenda sua foi cancelada.</p>
<p>
  <strong>Nome do produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ date }} <br />
  <br />
  <small>
    Devolver
  </small>
</p>
